body{
    min-height: 100vh;
    font-family: 'GameOverRegular'; 
}

section.wrappers
{
    text-align: center;
    float: right;
}
canvas 
{
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    background-color: rgb(0, 0, 0);
}

div#modal{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

body{
    min-height: 100vh;
    font-family: 'GameOverRegular'; 
    background-color: black;
}

section.wrappers
{
    text-align: center;
    float: right;
}
canvas 
{
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    background-color: rgb(0, 0, 0);
}


p {
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

section.clock {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.button {
    background-color: #5f5f5f;
    border: none;
    box-shadow: 0 9px#242424;
    padding: 30px;
    text-align: center;
    font-size: 28px;
    }
    
    .button:hover {
    background-color: #3F3F3F;
    }
    
    .button:active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(5px);
    }
    
    .pressed{
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(5px);    
    }
    
    .round {
    border-radius: 30%;
    }
    
    #joy{
        position: absolute;
        width: 200px;
        height: 200px;
        right: 20px;
        bottom: 200px;
        outline: 3px rgb(255, 255, 255) solid;
        background-color: rgb(0, 0, 0);
    }
    div#modal{
        display: none;
        position: fixed;
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    
      }